<div class="filters__section-wrapper">
  <div class="filters__open-close-filters-wrapper" (click)="areFiltersVisible = !areFiltersVisible">
    <h3>Filters</h3>
    <button>
      <img
        src="assets/images/angleDownIcon.svg"
        alt=""
        [ngClass]="{'filters-visible-btn': areFiltersVisible, 'filters-not-visible-btn': !areFiltersVisible}">
    </button>
  </div>
  <div
    class="filters__fields-wrapper"
    [ngClass]="{'filters-visible-fields': areFiltersVisible, 'filters-not-visible-fields': !areFiltersVisible}">
    <div class="filters__field-wrapper">
      <label>Search by name</label>
      <input type="text" class="input" placeholder="book name" #bookTitle (input)="filterByName(bookTitle.value, priceSelect.value)">
      <img src="assets/images/searchIcon.svg" alt="">
    </div>
    <div class="filters__field-wrapper">
      <label>Search by price</label>
      <select ngModel="No filters" #priceSelect (ngModelChange)="filterByPrice($event, bookTitle.value)">
        <option>No filters</option>
        <option>0 < price < 25</option>
        <option>25 < price < 50</option>
        <option>price > 50</option>
      </select>
    </div>
  </div>
</div>
