<div *ngIf="!(loader.isLoading$ | async)" class="login__page-wrapper">
  <div class="login__block-wrapper">
    <h2 class="login__title">Welcome to JS Band Store</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="input__wrapper">
        <input
          id="input"
          class="input"
          type="text"
          formControlName="userName"
          placeholder="John Adams">
        <label for="input" class="input__label">Name</label>
        <p class="error-message">{{setLoginInputErrorMessage()}}</p>
      </div>

      <div class="submit-button">
        <button class="button" [class.invalid-button]="!signInForm.valid">
          Log in
        </button>
      </div>
    </form>
  </div>
</div>

<app-loader></app-loader>

<app-http-error-message></app-http-error-message>
