<div class="login__page-wrapper">
  <div class="login__block-wrapper">
    <h2 class="login__title">Welcome to JS Band Store</h2>
    <form>
      <div class="input__wrapper">
        <label
          for="input"
          class="input__label"
          [style.color]="!isValid && isTouched ? '#ff0000' : '#009898'
        ">
          Name
        </label>
        <input
          id="input"
          class="input"
          type="text"
          value=""
          placeholder="John Adams"
          [ngStyle]="{
              border: !isValid && isTouched ? '2px solid #ff0000' : '2px solid #009898',
              padding: '10px 15px'
            }">
        <p class="error-message" [style.opacity]="!isValid && isTouched ? 1 : 0">
          Enter the field
        </p>
      </div>
      <div class="submit-button">
        <button class="button" (click)="goToCatalogPage()">
          Log in
        </button>
      </div>
    </form>
  </div>
</div>
