.book-price-count-info__wrapper {
  width: 100%;
  height: fit-content;
  padding: 15px;
  background: #cccccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.info-part {
  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__label {
    font-size: 16px;
    font-weight: 700;
  }

  &__value {
    font-size: 16px;
  }

  &__count-value {
    display: flex;
    width: 100px;
    justify-content: space-between;

    button {
      border: none;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      font-size: 16px;
      margin: 0 10px;
    }

    img {
      width: 12px;
    }
  }

  &__add-to-cart-btn {
    width: fit-content;
    margin-top: 25px;
  }
}

.can-increase-decrease-btn {
  background: #009898;
  cursor: pointer;
}

.can-not-increase-decrease-btn {
  background: #464646;
  cursor: not-allowed;
}
