<div class="section-wrapper">
  <div class="info-part">
    <p class="label">Price, $</p>
    <p class="value">{{activeBook.price}}</p>
  </div>
  <div class="info-part">
    <p class="label">Count</p>
    <div class="count-value">
      <button
        [ngClass]="{'can-inc-dec-btn': canInc, 'can-not-inc-dec-btn': !canInc}"
        (click)="increaseBooksCount()">
        <img src="assets/images/plusIcon.svg" alt="">
      </button>
      <p class="count">{{activeBookAddedCount$ | async}}</p>
      <button
        [ngClass]="{'can-inc-dec-btn': canDec, 'can-not-inc-dec-btn': !canDec}"
        (click)="decreaseBooksCount()">
        <img src="assets/images/minusIcon.svg" alt="">
      </button>
    </div>
  </div>
  <div class="info-part">
    <p class="label">Total price, $</p>
    <p class="value">{{totalPrice}}</p>
  </div>
  <div class="info-part">
    <p class="label">Available count</p>
    <p class="value">{{activeBook.count}}</p>
  </div>
  <div class="info-part">
    <p class="label">Added count</p>
    <p class="value">{{activeBookInCart ? activeBookInCart.addedCount : 0}}</p>
  </div>
  <button class="button add-to-cart-btn" (click)="addToCart()">Add to Cart</button>
</div>
