.input {
  width: 100%;
  font-size: 14px;
  border-radius: 10px;
  box-sizing: border-box;

  &::placeholder {
    color: #464646;
  }

  &__wrapper {
    position: relative;

    .search-icon {
      width: 17px;
      height: 17px;
      position: absolute;
      top: 60%;
      left: 15px;
    }

    .error-message {
      font-size: 12px;
      color: #ff0000;
      margin: 5px 5px 0 0;
      text-align: right;
    }
  }

  &__label {
    display: block;
    font-size: 15px;
    margin: 0 0 10px 5px;
  }
}
