<div class="input__wrapper">
  <label
    for="input"
    class="input__label"
    [ngStyle]="
      fieldType === 'login' ? {color: !isValid && isTouched ? '#ff0000' : '#009898'} :
      fieldType === 'search' ? {color: '#464646', fontWeight: 600} : {}
    ">
    {{label}}
  </label>
  <input
    id="input"
    class="input"
    type="text"
    [value]="value"
    [placeholder]="placeholder"
    (change)="onChange()"
    (blur)="onBlur()"
    [ngStyle]="
      fieldType === 'login' ? {
        border: !isValid && isTouched ? '2px solid #ff0000' : '2px solid #009898',
        padding: '10px 15px'
      } :
      fieldType === 'search' ? {
        border: '2px solid #464646',
        padding: '10px 15px 10px 35px'
      } : {}
    ">
  <img
    *ngIf="fieldType === 'search'"
    src="assets/images/searchIcon.svg"
    alt=""
    class="search-icon">
  <p
    *ngIf="fieldType === 'login'"
    class="error-message"
    [style.opacity]="!isValid && isTouched ? 1 : 0">
    {{errorMessage}}
  </p>
</div>
