<div *ngIf="!isLoading" class="books-catalog__wrapper">
  <ng-container>
    <app-books-catalog-filters (changeFilter)="applyFilter($event)"></app-books-catalog-filters>
    <div class="books-wrapper" *ngIf="list.length > 0">
      <app-book-card *ngFor="let book of list trackBy: trackByFn" [book]="book"></app-book-card>
    </div>
    <div *ngIf="list.length === 0" class="no-books__wrapper">
      <img src="assets/images/bookIcon.svg" alt="">
      <p>No books</p>
    </div>
  </ng-container>
</div>
