<div *ngIf="!(loader.isLoading$ | async)" class="books-catalog__wrapper">
  <ng-container *ngIf="(books.booksForRender$ | async) as booksForRender">
    <app-books-catalog-filters></app-books-catalog-filters>
    <div *ngIf="booksForRender.length" class="books-wrapper">
      <app-book-card *ngFor="let book of booksForRender" [book]="book"></app-book-card>
    </div>
    <div *ngIf="!booksForRender.length" class="no-books__wrapper">
      <img src="assets/images/bookIcon.svg" alt="">
      <p>No books</p>
    </div>
  </ng-container>
</div>

<app-loader></app-loader>

<app-confirm-logout-modal></app-confirm-logout-modal>
