* {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
select,
button {
  color: #464646;
  background: #009898;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .4);
}

.input {
  width: 100%;
  font-size: 14px;
  border-radius: 10px;
  box-sizing: border-box;

  &::placeholder {
    color: #464646;
  }

  &__wrapper {
    position: relative;

    .search-icon {
      width: 17px;
      height: 17px;
      position: absolute;
      top: 60%;
      left: 15px;
    }

    .error-message {
      font-size: 12px;
      color: #ff0000;
      margin: 5px 5px 0 0;
      text-align: right;
    }
  }

  &__label {
    display: block;
    font-size: 15px;
    margin: 0 0 10px 5px;
  }
}

.button {
  text-transform: uppercase;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  background: #4a98d9;
  cursor: pointer;
}

@media screen and (max-width: 384px) {
  .button {
    font-size: 14px;
  }
}
